# üîç Spark SQL & DataFrame SQL Operations

**Phase 4: SQL Mastery - Querying Big Data with SQL**

**Prerequisites**: [03_dataframe_mastery/DataFrame_Operations_Practice.ipynb](../03_dataframe_mastery/DataFrame_Operations_Practice.ipynb)

**Estimated time**: 45-60 minutes

---

## üéØ Learning Goals

By the end of this notebook, you'll be able to:
- ‚úÖ Create and manage SQL tables and views
- ‚úÖ Write complex SQL queries with joins and aggregations
- ‚úÖ Use window functions in SQL
- ‚úÖ Optimize query performance with Catalyst
- ‚úÖ Handle different data formats (JSON, Parquet, CSV)
- ‚úÖ Convert between DataFrame API and SQL

---

## ‚öôÔ∏è Setup & Data Preparation

**Create sample data and register it for SQL queries.**

In [ ]:
// Import Spark SQL
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._
import spark.implicits._

In [ ]:
// Create SparkSession with Hive support
val spark = SparkSession.builder()
  .appName("Spark SQL Practice")
  .master("local[*]")
  .enableHiveSupport()  // Enable Hive features
  .getOrCreate()

println("üöÄ Spark SQL Practice Session Started")
println(s"Spark Version: ${spark.version}")

## üìã Creating Tables & Views

**Register DataFrames as SQL tables and create views.**

In [ ]:
// Create sample datasets
val employees = Seq(
  (1, "Alice", "Engineering", 75000, "2020-01-15"),
  (2, "Bob", "Engineering", 80000, "2019-03-22"),
  (3, "Charlie", "Sales", 65000, "2021-07-10"),
  (4, "Diana", "Engineering", 90000, "2018-11-05")
)

// Create DataFrame and register as view
val employeesDF = employees.toDF("id", "name", "dept", "salary", "hire_date")
employeesDF.createOrReplaceTempView("employees")

println("‚úÖ Employees table registered")
spark.sql("SELECT * FROM employees").show()

## üîç Basic SQL Queries

**Execute SQL queries on your registered tables.**

In [ ]:
// Basic SELECT queries
println("üîç Basic SQL Queries:")

spark.sql("SELECT name, dept, salary FROM employees ORDER BY salary DESC").show()

spark.sql("SELECT dept, COUNT(*) as count FROM employees GROUP BY dept").show()

## ü§ù SQL Joins

**Combine data from multiple tables using SQL joins.**

In [ ]:
// Create departments data
val departments = Seq(
  ("Engineering", "Technical"),
  ("Sales", "Business")
)
val deptDF = departments.toDF("dept_name", "category")
deptDF.createOrReplaceTempView("departments")

// INNER JOIN
println("ü§ù SQL Joins:")
spark.sql("""
  SELECT e.name, e.dept, d.category, e.salary
  FROM employees e
  INNER JOIN departments d ON e.dept = d.dept_name
""").show()

## üèÜ Practice Exercises

**Write SQL queries to solve real-world analytics problems.**

In [ ]:
// Exercise 1: Employee Analytics
// FIXME: Write SQL queries for:
// 1. Find highest paid employee
// 2. Count employees by department
// 3. Calculate average salary

println("üíº Employee Analytics Exercise:")

// 1. Highest paid employee
spark.sql("SELECT name, salary FROM employees ORDER BY salary DESC LIMIT 1").show()

// 2. Count by department
spark.sql("SELECT dept, COUNT(*) as count FROM employees GROUP BY dept").show()

// 3. Average salary
spark.sql("SELECT AVG(salary) as avg_salary FROM employees").show()

## üõë Cleanup

**Drop temporary views and stop SparkSession.**

In [ ]:
// Stop SparkSession
spark.stop()
println("üõë Spark SQL Session Stopped")
println("‚úÖ All resources cleaned up!")

## üìö What Next?

**üéâ Congratulations!** You've mastered Spark SQL basics!

**You've learned:**
- ‚úÖ Creating SQL tables and views
- ‚úÖ Basic SQL queries and aggregations
- ‚úÖ SQL joins between tables

**Next Steps:**
1. Complete all exercises with your own SQL implementations
2. Move to **05_performance_optimization/** for tuning
3. Explore **08_real_world_projects/** for production SQL

**Remember:** Spark SQL brings SQL power to big data! ‚ö°